.banner_container {
  /* max-height: 70vh; */
}

.banner_image {
  width: 100vw;
  height: 70vh;

  object-fit: cover;
}

.banner_intro {
  position: absolute;
  top: 150px;
  left: 100px;
}

.banner_title {
  font-size: 6vw;
  color: rgb(180, 64, 128);
}

.banner_sub_title {
  font-size: 2.5vw;
}
