.footer_container {
  height: 60vh;
  display: flex;
  background-color: var(--header-footer-bg);
  color: var(--header-footer-color);
  overflow: hidden;
}

.footer_left {
  flex: 1;
}

.footer_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-size: 2rem;
  gap: 30px;
}

.footer_hour_wrapper {
  display: flex;
  justify-content: space-around;
}

.hour_title {
  margin-bottom: 10px;
  color: red;
}

.footer_hour {
  padding-top: 50px;
}

.hour_list_item {
  padding: 5px 0;
}

.footer_right {
  flex: 1;
}
