.footer_container {
  height: 50vh;
  display: flex;
  background-color: var(--header-footer-bg);
  color: var(--header-footer-color);
  margin-top: 50px;
  overflow: hidden;
}

.footer_left {
  flex: 1;
}

.footer_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-size: 2rem;
  gap: 30px;
}

.footer_right {
  flex: 1;
}

.footer_hour {
  padding-top: 10px;
}

.hour_list_item {
  padding: 5px 0;
}
