@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Caveat:wght@400;700&family=Kaushan+Script&family=Nanum+Gothic:wght@400;700&family=Nunito:ital,wght@0,200;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap");
/* 
font-family: 'Cabin', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto Mono', monospace; */

:root {
  --header-footer-bg: rgb(27, 25, 25);
  --header-footer-color: rgb(255, 249, 249);
}

* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
