.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  /* background-color: gray; */
  z-index: 999;
  /* position: sticky;
  top: 0; */
  position: fixed;
  top: 0;
  padding: 0 50px;
}

.navbar_logo {
  font-family: 'Cabin', sans-serif;
}

.navbar_link_items {
  display: flex;
  padding: 0;
}

.nav_list_item {
  padding: 10px 10px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  font-size: 20px;
}

.navbar_icons {
  display: flex;
  padding: 0 20px;
  gap: 10px;
}

.nav_icon {
  font-size: 1.5rem;
}

@media (max-width: 780px) {
  .navbar_link_items {
    display: none;
  }

  .navbar_logo {
    font-size: 0.8rem;
  }
}
